* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.back-div-1 {
  color: #fff;
  background-image: linear-gradient(to right, #af2081, #de3372);
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8em;
}

.back-div-2 {
  background: #ccc;
  height: 50vh;
  width: 100%;
}